@import "../../../asset/styles/gobal.scss";
@import "../../../asset/styles/variable.scss";

.workDetailsWrapper {
  // width: 86%;
  // padding: 4% 7%;
  width: 100%;

  @extend .flexColumn;
  // goal class for under line
  .underLineText {
    border-bottom: 3px solid $orange;
    border-radius: 2px;
  }
  .problemDescription {
    @extend .flexColumn;
    align-items: start;
    padding: 20px 0;
    text-align: left;
    .descriptionHeading {
      font-family: $poppins-semibold;
      font-size: 24px;
    }
    .description {
      font-family: $poppins-light;
      font-size: 20px;
      padding: 10px 0;
      color: $Text-Grey-Color;
      @media (max-width: 650px) {
        font-size: 14px;
        text-align: left;
        width: 100%;
      }
    }
  }
  align-items: start;
  .buttonWrapper {
    width: 86%;
    padding: 3% 7%;
    padding-top: 1%;
  }
  .workDetailsContianer {
    width: 100%;
    .workProblemPageContainer {
      width: 86%;
      padding: 4% 7%;
      // padding: 20px 0px;
      .workTitleHeadingWrapper {
        width: 100%;
        @extend .flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .headingContainer {
          @extend .flex;
          align-items: baseline;
          flex-wrap: wrap;
          .Heading {
            padding-right: 20px;
            font-size: 38px;
            font-family: $lunema-bold;
            @media (max-width: 650px) {
              font-size: 30px;
              text-align: left;
              width: 100%;
            }
          }
          .subHeadingWrapper {
            @media (max-width: 650px) {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
            }
            .subHeading {
              font-size: 16px;
              font-family: $poppins-medium;
              padding-right: 5px;
              color: $orange;
              border-right: 2.3px solid black;
              margin-right: 5px;
              @media (max-width: 650px) {
                font-size: 14px;
                text-align: left;
                margin-top: 10px;
              }
            }
            .subHeading:last-child {
              border: none;
            }
          }
        }
        .dateContainer {
          .date {
            font-size: 30px;
            font-family: $poppins-regular;
            color: $Text-Grey-Color;
            @media (max-width: 650px) {
              font-size: 24px;
              text-align: left;
              width: 100%;
            }
          }
        }
      }
      .workImageWrapper {
        width: 100%;
        padding: 5% 0;
        .workImage {
          width: 100%;
          // object-fit: contain;
          border-radius: 10px;
        }
      }
      // .problemDescription {
      //   @extend .flexColumn;
      //   align-items: start;
      //   padding: 20px 0;
      //   .descriptionHeading {
      //     font-family: $poppins-semibold;
      //     font-size: 24px;
      //   }
      //   .description {
      //     font-family: $poppins-light;
      //     font-size: 20px;
      //     padding: 10px 0;
      //     color: $Text-Grey-Color;
      //   }
      // }
    }
    .workResearchPageContainer {
      background-color: $background-Color;
      width: 86%;
      padding: 3% 7%;
      .researchImageWrapper {
        width: 100%;
        @extend .flexSpaceBetween;
        flex-wrap: wrap;
        .researchImage {
          width: 55%;
          border-radius: 10px;
          min-width: 350px;
          @media (max-width: 950px) {
            min-width: 100%;
          }
        }
        .researchImageSecondry {
          width: 45%;
          border-radius: 10px;
          min-width: 350px;
          @media (max-width: 950px) {
            min-width: 100%;
          }
        }
      }
    }
    .workIdetionPageContainer {
      width: 86%;
      padding: 3% 7%;
      .ideationImageWrapper {
        @extend .flexSpaceBetween;
        flex-wrap: wrap;
        .ideationImg {
          width: 45%;
          border-radius: 10px;
          @media (max-width: 950px) {
            min-width: 100%;
          }
        }
      }
    }
    .workPrototypePageContainer {
      width: 86%;
      padding: 3% 7%;
      background-color: $background-Color;
      .prototypeImageWrapper {
        @extend .flexColumn;
        .imgContainer {
          @extend .flex;
          flex-wrap: wrap;
          .prototypeImagPrimary {
            width: 55%;
            border-radius: 10px;
            @media (max-width: 950px) {
              min-width: 100%;
            }
          }
          .prototypeImagSecondary {
            width: 40%;
            border-radius: 10px;
            @media (max-width: 950px) {
              min-width: 100%;
            }
          }
        }
      }
    }
    .workToolsPageContainer {
      width: 86%;
      padding: 3% 7%;
      .toolsContainer {
        @extend .flexSpaceBetween;
        flex-wrap: wrap;
        .tool {
          width: 7%;
          min-width: 30px;
          .icon {
            height: 100%;
            width: 100%;
          }
        }
      }
      .primaryBtn {
        margin-top: 80px;
      }
    }
  }
}
