@import "../../asset/styles/gobal.scss";
@import "../../asset/styles/variable.scss";

.dashBoardParent {
  background-image: url("../../asset/images/Bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 86%;
  padding: 0 7%;
  .dashBoardWrapper {
    height: 100%;
    @extend .flex;
    justify-content: space-between;
    .infoContainer {
      height: 100%;

      .statusContainer {
        @extend .flex;
        height: 20%;
        align-items: center;
        @media (max-width: 650px) {
          height: 15%;
        }
        .imageContainer {
          height: 50%;
          .logoPersonal {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 1px solid $orange;
          }
        }
        .statusTagContainer {
          height: 20%;
          @media (max-width: 650px) {
            height: 25%;
          }
          .statusTag {
            height: 100%;
          }
        }
      }
    }
    .tittleContainer {
      width: 100%;
      @media (max-width: 650px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .mainTitleContainer {
        @extend .flex;
        padding: 2% 0;
        @media (max-width: 650px) {
          font-size: 28px;
          align-items: center;
        }
        .title {
          font-family: $lunema-bold;
          font-size: 38px;
          text-align: left;
          @media (max-width: 650px) {
            font-size: 30px;
            text-align: left;
            width: 100%;
          }
        }
      }
      .subT {
        width: 70%;
        display: flex;
        @media (max-width: 650px) {
          width: 100%;
        }
        .subTitle {
          font-family: $poppins-regular;
          font-size: 18px;
          color: $Text-Grey-Color;
          @media (max-width: 650px) {
            font-size: 14px;
            text-align: left;
            margin-top: 10px;
          }
          // width: 60%;
          text-align: left;
          .subTextHighlight {
            color: $orange;
            font-family: $poppins-bold;
            padding: 0 0.5%;
            @media (max-width: 650px) {
              font-size: 14px;
              text-align: center;
            }
          }
        }
      }
    }
    .bottomWrapper {
      height: 50%;
      .bottomContainer {
        @extend .flex;
        height: 100%;
        .buttonWrapper {
          height: 100%;
          width: 55%;
          .normalButtonContainer {
            @extend .flexSpaceBetween;
            height: 45%;
            align-items: center;
            @media (max-width: 650px) {
              justify-content: center;
            }

            .primaryBtn {
              // background-color: $orange;
              // border: 1px solid $orange;
              // color: white;
              font-family: $poppins-bold;
              font-size: 14px;
              border-radius: 10px;
              padding: 0.5% 2%;
              text-transform: none;
              // height: 30%;
              width: 70%;
              @media (max-width: 1000px) {
                width: 50%;
              }
              @media (max-width: 650px) {
                width: 100%;
              }
            }
            .SecondoryBtn {
              border: 1px solid $orange;
              text-transform: none;
              font-family: $poppins-bold;
              color: black;
              font-size: 14px;
              border-radius: 10px;
              padding: 0.5% 1%;
              width: 35%;
              height: 30%;
            }
          }
          .bottomArrowWrapper {
            @extend .flex;
            height: calc(100% - 45%);
            align-items: end;
            .bottomArrow {
              height: 35px;
              margin-bottom: 45px;
            }
          }
        }
        .profileImgWrapper {
          // height: 100%;
          position: absolute;
          /* right: 32%; */
          bottom: 0%;
          z-index: 10;
          width: calc(86%);
          display: flex;
          justify-content: center;
          .profileImgContianer {
            // height: 100%;
            .profileImg {
              // height: 100%;
              filter: grayscale(100%);
            }
          }
        }
      }
    }
    .imageWrapper {
      width: 45%;
      @extend .flex;
      align-items: end;
      justify-content: flex-end;
      .profleImage {
        height: 80%;
        width: 100%;
        filter: grayscale(50%);
      }
    }
    // responsive media querys
    @media (max-width: 1000px) {
      .imageWrapper {
        display: none;
      }
      .bottomContainer {
        .buttonWrapper {
          width: 100% !important;
        }
      }
    }
  }
}
